# macOS
.DS_Store

# IDE files
.idea/
.vscode/

# Python virtual environment
venv/

# ignore google speech commands dataset
google_dataset
stub_data/
audio_ignored_examples/
training_data/

# ignore jupyter notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Generated .wav files
insert_test.wav
train.wav
spectrogram.png

# larry's files
toupdate.txt
